@use "../global/breakpoints" as *;

.card-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
