.footer-nav {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-nav__caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--color-base-primary);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

.footer-nav__list {
  border-bottom: 1px solid var(--color-base-secondary);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-nav__item {
  list-style-type: none;
}

.footer-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-base-black);
}
